.homepage {
  display: flex;
  justify-content: space-evenly;
  margin-left: 40vh;
  margin-top: 30px;
}

.homepage-profile {
  flex: 1;
}

.homepage-posts {
  flex: 3;
  margin-left: 50px;
}

.homepage-rightside {
  flex: 2;
  margin-left: 35px;
  margin-right: 20px;
}

.homepage-post-form {
  max-width: 650px;
}

.homepage-quote {
  border: 1px solid #ece9e9;
  border-radius: 25px;
  padding: 10px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .homepage-rightside {
    display: none;
  }
}
