.homepage {
  display: flex;
  justify-content: space-evenly;
  margin-left: 40vh;
  margin-top: 30px;
}

.homepage-profile {
  flex: 1;
}

.homepage-posts {
  flex: 3;
  margin-left: 50px;
}

.homepage-post-form {
  max-width: 650px;
}
