.avatar {
  display: flex;
  margin-bottom: 10px;
}

.avatar-logo {
  width: 50px;
  height: 50px;
  background-color: #c2d9f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000058;
  font-weight: bold;
}

.avatar-infos {
  display: flex;
  align-items: center;
}

.avatar-infos > a > h3,
.avatar-infos > a > p {
  margin: 0;
  margin-left: 15px;
}
.avatar-infos > a {
  text-decoration: none;
}

.avatar-infos > a:hover {
  text-decoration: underline;
}

.avatar-infos > p {
  color:#55585b;
  font-size: smaller;
}

/* Avatar navbar */

.avatarNav {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.avatarNav-logo {
  width: 50px;
  height: 50px;
  background-color: #c2d9f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000058;
  font-weight: bold;
  margin-right: 10px;
}

.avatarNav-infos {
  text-align: left;
}
.avatarNav-infos > h3 {
  margin: 0;
}
.avatarNav-infos > p {
  margin: 0;
  color: #55585b;
}
