.button {
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  margin: 5px 0;
  font-size: 18px;
}

.button > svg {
  margin-right: 10px;
}

.home-btn,
.logout-btn,
.theme-btn,
.profile-btn {
  background-color: #ffffff;
  cursor: pointer;
}

.home-btn:hover,
.logout-btn:hover,
.theme-btn:hover,
.profile-btn:hover {
  background-color: #113755 ;
  color: white;
  cursor: pointer;
}


.post-btn {
  color: #F2EFFF;
  width: 100%;
  background-color: #113755;
  cursor: pointer;
}

.post-btn > svg {
  display: none;
}

/* Dark mode btns */

.home-btn-dm,
.logout-btn-dm,
.theme-btn-dm,
.profile-btn-dm {
  background-color: #15202b;
  color: white;
  cursor: pointer;
}

.home-btn-dm:hover,
.logout-btn-dm:hover,
.theme-btn-dm:hover,
.profile-btn-dm:hover {
  background-color: #113755 ;
  color: white;
  cursor: pointer;
}

/* Smaller screen changes to btn */
@media screen and (max-width: 600px) {
  .home-btn > .button-text,
  .logout-btn > .button-text,
  .theme-btn > .button-text,
  .profile-btn > .button-text,
  .post-btn > .button-text {
    display: none;
  }

  .button {
    display: block;
  }

  .post-btn {
    padding: 16px;
    border-radius: 50px;
    width: auto;
  }

  .post-btn > svg {
    display: block;
    margin: 0px;
  }

  .avatarNav-infos {
    display: none;
  }

  .navbar {
    width: auto;
  }

  .homepage {
    margin-left: 12vh;
  }
}
