.button {
  border-radius: 25px;
  padding: 10px 20px;
  border: none;
  margin: 5px 0;
  font-size: 18px;
}

.button > svg {
  margin-right: 10px;
}

.home-btn,
.logout-btn,
.theme-btn,
.profile-btn {
  background-color: #ffffff;
  cursor: pointer;
}

.home-btn:hover,
.logout-btn:hover,
.theme-btn:hover,
.profile-btn:hover {
  background-color: #dfe4e8 ;
  cursor: pointer;
}


.post-btn {
  color: #F2EFFF;
  width: 100%;
  background-color: #000058;
  cursor: pointer;
}
