.navbar {
  height: 100%;
  width: 40vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1;
  padding: 20px;
  border-right: 1px solid #ece9e9;
  text-align: left;
}

.navbar > a  {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navbar > h1 {
  font-size: small;
}

.navbar > img {
  height: 40px;
  margin-left: 15px;
}

/* Mobile navbar */
.mobile-navbar-top > img {
  height: 40px;
  margin-top: 10px;
  position: absolute;
  top: 0;
}

.mobile-navbar {
  display: none;
}

/* Responsive */

/* @media screen and (max-width: 800px) {
  .navbar > button > span > .button-text {
    display: none;
  }
} */

@media screen and (max-width: 748px) {
  .navbar {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: block ;
  }

  .mobile-navbar-top {
    width: 100%;
    height: 10vh;
  }

  .mobile-navbar-bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
    overflow-x: auto;
    width: 100%;
    height: 10vh;
    background-color: white;
    justify-content: space-evenly;
    border-top: 1px solid #ece9e9;
  }

  .mobile-navbar-bottom-dm {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
    overflow-x: auto;
    width: 100%;
    height: 10vh;
    background-color: #15202b;
    justify-content: space-evenly;
    border-top: 1px solid #ece9e9;
  }
}
