.post-card {
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ece9e9;
}
.avatar-date {
  display: flex;
  align-items: last baseline;
}
.post-counters {
  display: flex;
  align-items: center;
}

.post-counters > svg {
  cursor: pointer;
  color:#ad9dff;
}

.post-counters > svg:hover {
  color: #000058;
}

.post-counters > svg,
.post-counters > p {
  margin-right: 15px;
}

.post-counters > p > span {
  margin-left: 10px;
}

.post-date {
  color: #9D9D9D;
  font-size: smaller;
}

.post-content,
.post-counters {
  margin-left: 55px;
}

.post-trash {
  margin-left: 10px;
  font-size: small;
  color: #838282;
}

.post-trash:hover {
  color: rgb(171, 4, 4);
}

.post-content {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.post-likes,
.post-comments {
  color: #838282;
}

.post-likes:hover {
  color: rgb(236, 106, 164);
  cursor: pointer;
}


.post-comments:hover {
  color: rgb(83, 150, 249);
  cursor: pointer;
}

.post-likes-liked {
  color:rgb(204, 29, 108);
}

.post-likes-liked:hover {
  color: #838282;
}

@media screen and (max-width: 480px) {
  .post-content,
  .post-counters {
    font-size: smaller;
  }
}
