.post-form > textarea {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-size: 15px;
}

.post-form-btn {
  border-top: 1px solid #c7c5c5;
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.post-btn-form {
  color: #F2EFFF;
  background-color: #113755;
  cursor: pointer;
}

/* Post form dark mode */
.post-form-dm > textarea {
  background-color: #15202b;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-size: 15px;
  color: white;
}
